./exercicios-react-router-dom/node_modules
./react-router-dom-atv-01/node_modules
./react-router-dom-atv-02/node_modules
./prop-drilling-01/node_modules
./testando-o-mui/node_modules
./sistema-de-fila/node_modules
sistema-de-fila-back-end/node_modules
testes-use-context/node_modules
aula-knex/node_modules
aula-deploy/node_modules
playground-typescript/node_modules
aula-tipos-utilitarios/node_modules
aula-api-carros-backend/node_modules
aula-api-carros-backend/.env
aula-api-carros-backend/dist
login-react-typescript/node_modules